
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* Color styles */
--light-blue: #0084FD;
--light-purple: #9792E4;
--black: #333333;
--white: #FFFFFF;
--yellow: #FDC15F;

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans', sans-serif;
}


/* padding & margin */


.m-t20{
    
}

/* utility */
.debug{
    border: 1px solid red;
}


ul{
    list-style: none;
}

/* flex */

.d-flex{
    display: flex;
    flex-flow: row ;

}

.justco-spacebtw{
    justify-content: space-between;
}

.justco-start{
    justify-content: start;
}

.justco-center{
    justify-content: center;
}

.justco-end{
    justify-content: flex-end;
}

.aligit-center{
    align-items: center;

}

.aligit-start{
    align-content: flex-start;
}

.aligcon-start{
    align-content: flex-start;
}


.aligcon-center{
    align-content: center;
}


/* container */

.container{
    max-width: 100%;
    margin: 0 20px auto;
    padding: 15px 0;

}




/* header */

header{
    background-color: var(--light-blue);
    height: 70px;
    color: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


header ul{
    display: none;
}


header nav a{
    color: var(--white);
    font-size: 20px;
    
}


header img{
    width:70px;
}

/* main */

main{
    margin-top: 80px;
}

.purpl-bg{
    background-color: var(--light-purple);
}

/* footer */

footer{
    background-color: var(--black);
}

